<a href="<%= vehicle_path vehicle.id %>" class="vehicle btn btn-default" tabindex="0">
  <p>
    <span class="year-make-model">
      <%= vehicle.year %>
      <%= vehicle.make %>
      <%= vehicle.model %>
    </span>
    <span class="color"><%= vehicle.color %></span>
  </p>
  <span class="mileage"><%= number_with_delimiter vehicle.lifetime_mileage, delimiter: ',' %> miles</span>
</a>

