<div class="title">
  <h2>
    <span><%= vehicle.year %></span>
    <span><%= vehicle.make %></span>
    <span><%= vehicle.model %></span>
  </h2>
  <div class="buttons">
    <a href="<%= edit_vehicle_path %>" class="btn btn-default">
      <i class="fa fa-edit"></i>
    </a>
    <%= form_tag destroy_vehicle_path, method: 'DELETE', class: 'button_form' do %>
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-times"></i>
      </button>
    <% end %>
  </div>
</div>
