<div class="entry row">
  <div class="title col-sm-3">
    <% if line_item.needs_attention? %>
      <i class="fa fa-exclamation-circle important"></i>
    <% end %>

    <% if line_item.change == :increase %>
      <i class="fa modifier fa-caret-up increase"></i>
    <% elsif line_item.change == :decrease %>
      <i class="fa modifier fa-caret-down decrease"></i>
    <% end %>

    <% if line_item.type == :fueling %>
      <i class="fa fa-fw fa-tachometer"></i>
    <% elsif line_item.type == :maintenance %>
      <i class="fa fa-wrench"></i>
    <% end %>
    <span><%= line_item.title %></span>
  </div>
  <div class="detail col-sm-4">
    <span><%= line_item.description %></span>
  </div>
  <div class="date col-sm-3">
    <span><%= line_item.date %></span>
  </div>
  <div class="action col-sm-2">
    <a href="<%= line_item_edit_path line_item %>" class="btn btn-link">
      <i class="fa fa-pencil"></i>
    </a>
    <%= form_tag line_item_delete_path(line_item), method: 'DELETE', class: 'button_form' do %>
      <button type="submit" class="btn btn-link">
        <i class="fa fa-times"></i>
      </button>
    <% end %>
  </div>
</div>
