<% if logged_in? %>
  <div class="dropdown">
    <div class="profile" data-toggle="dropdown" tabindex="0">
      <span><%= user_name %></span>
      <div class="pic">
        <img src="<%= user_gravatar %>" width="48" height="48" />
      </div>
      <i class="fa fa-caret-down"></i>
  </div>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="<%= profile_path %>">
        <i class="fa fa-user"></i> Profile
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <%= form_tag(logout_path, method: "POST") do %>
        <button type="submit">
          <i class="fa fa-sign-out"></i> Logout
        </button>
      <% end %>
    </li>
  </ul>
<% else %>
  <a href="<%= login_path %>" class="btn btn-default">Login</a>
<% end %>
