<!DOCTYPE html>
<html>
  <head>
    <title>Mileage<%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://localhost:8080/assets/bundle.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
